body {
    background: #343434
}

.img:before {
    margin-right: 14px;
    background-image: url('../img/login.png');
    background-size: contain;
    display: inline-block;
    height: 32px;
    width: 98px;
    content:"";

}

.label {
    padding-top: 20px;
}

.form {
    text-align: center;
    margin-top: 100px;
    color: white
}

.login_image {
    margin: 0 auto;
    margin-top: 110px;
    width: 800px;
    height: 70px;
}

.login_image img {
    text-align: center;
    width: 800px;
    height: 70px;
}
