html, body, .container {
    height: 100%
}

body {
    background: #343434
}

.img:before {
    margin-right: 14px;
    background-image: url('../img/login.png');
    background-size: contain;
    display: inline-block;
    height: 32px;
    width: 98px;
    content:"";

}

.label {
    padding-top: 20px;
}

.form {
    text-align: center;
    margin-top: 100px;
    color: white
}

.login_image {
    margin: 0 auto;
    margin-top: 110px;
    width: 800px;
    height: 70px;
}

.login_image img {
    text-align: center;
    width: 800px;
    height: 70px;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 60px 0;
}

.fixed-header, .fixed-footer {
        width: 100%;
        position: fixed;
        background: #2b2b2b;
        color: #fff;
}

.fixed-header {
        top: 0;
        height: 60px;
        padding: 16px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
}

.fixed-footer {
        bottom: 0;
        padding: 10px 14px;
        text-align: right;
}

.profile-info {
    display: flex;
    align-items: center;
}

.balance {
    display: flex;
    align-items: center;
}

.balance-amount {
    color: red;
    font-weight: 600;
    font-size: 18px;
    padding-left: 6px;
}

.profile {
    text-decoration: none;
    color: pink;
    transition: 0.3s;
    padding: 4px 8px;
    margin-left: 12px;
}

.profile:hover {
    color: red;
    transition: 0.3s;
    text-decoration: underline;
    border-radius: 8px;
    background-color: #343434;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}

.footer-img {
    position: absolute;
    left: 14px;
    top: 2px;
}

.glow-on-hover {
    padding: 4px 8px;
    border: none;
    outline: none;
    color: #fff;
    background: #2b2b2b;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    text-align: center;
    margin-left: 16px;
    text-decoration: none;
}

.glow-on-hover:before {
    content: '';
    background: #ffffff;
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #2b2b2b
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2b2b2b;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.glow-on-hover:hover {
    color: cyan;
}


.slot-link {
    margin: auto 0;
    cursor: pointer;
    padding: 0;
}

.slot-link-image {
    border-radius: 10px;
}

.slots {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.error {
    color: red;
}