<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/slot.css"/>
    <title>{{title}}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
{% if header != False %}
    <div class="fixed-header">
        <a href="/main">
            <img src="/static/img/logo.png" width="250px" height="17px" />
        </a>
        <div class="profile-info">
            <div class="balance glow-on-hover">Balance: <span class="balance-amount">{{balance}}</span></div>
            <a href="/profile" class="glow-on-hover">My profile: {{name}}</a>
        </div>
    </div>
{% elif disableProfileInfo ==  True %}
    <div class="fixed-header">
        <a href="/main">
            <img src="/static/img/logo.png" width="250px" height="17px" />
        </a>
        <a href='/main' class="glow-on-hover">Вернуться на главную</a>
    </div>
{% endif %}
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
<div class="fixed-footer">
    <a href="/main">
        <img src="/static/img/sd.png" class="footer-img" />
    </a>
    <div>© Staletdrop 2021</div>
</div>

</body>
</html>
