{% extends "base.html" %}

{% block content %}
<div class="slots">
    <a href="/koi" class="slot-link glow-on-hover">
        <div><img class="slot-link-image" src="/static/img/koi-slot.png" width="350px" height="500px" /></div>
    </a>
    <a href="/mayana" class="slot-link glow-on-hover">
        <div><img class="slot-link-image" src="/static/img/mayana.jpg" width="350px" height="500px" /></div>
    </a>
    <a href="/df" class="slot-link glow-on-hover">
        <div><img class="slot-link-image" src="/static/img/divine-fortune.png" width="350px" height="500px" /></div>
    </a>
</div>
{% endblock %}