{% extends "base.html" %}

{% block content %}
<div class="slots">
    <div class="slot-link glow-on-hover"><img class="slot-link-image" src="/static/img/koi-slot.png" width="350px" height="500px" /></div>
    <div class="slot-link glow-on-hover"><img class="slot-link-image" src="/static/img/mayana.jpg" width="350px" height="500px" /></div>
    <div class="slot-link glow-on-hover"><img class="slot-link-image" src="/static/img/divine-fortune.png" width="350px" height="500px" /></div>
</div>
{% endblock %}