{% extends "base.html" %}

{% block content %}
<div class="main-slot">
  <div id="wrapper">
    <div>
      <div>
        <div id="machine">
          <div id="slot1" class="slot" data="1">
            <div class="scene">
              <div id="slots" class="carousel">
                <div class="carousel__cell" data="1"><img src="/static/img/mayana_slot_img1.png"
                  /></div>
                <div class="carousel__cell" data="2"><img src="/static/img/mayana_slot_img2.png"
                  /></div>
                <div class="carousel__cell" data="3"><img src="/static/img/mayana_slot_img3.png"
                  /></div>
                <div class="carousel__cell" data="4"><img src="/static/img/mayana_slot_img4.png"
                  /></div>
                <div class="carousel__cell" data="5"><img src="/static/img/mayana_slot_img5.png"
                  /></div>
                <div class="carousel__cell" data="6"><img src="/static/img/mayana_slot_img6.png"
                  /></div>
                <div class="carousel__cell" data="7"><img src="/static/img/mayana_slot_img7.png"
                  /></div>
                <div class="carousel__cell" data="8"><img src="/static/img/mayana_slot_img8.png"
                  /></div>
                <div class="carousel__cell" data="9"><img src="/static/img/mayana_slot_img9.png"
                  /></div>
              </div>
            </div>
          </div>

          <div id="slot2" class="slot" data="2">
            <div class="scene">
              <div id="slots" class="carousel">
                <div class="carousel__cell" data="1"><img src="/static/img/mayana_slot_img1.png"
                  /></div>
                <div class="carousel__cell" data="2"><img src="/static/img/mayana_slot_img2.png"
                  /></div>
                <div class="carousel__cell" data="3"><img src="/static/img/mayana_slot_img3.png"
                  /></div>
                <div class="carousel__cell" data="4"><img src="/static/img/mayana_slot_img4.png"
                  /></div>
                <div class="carousel__cell" data="5"><img src="/static/img/mayana_slot_img5.png"
                  /></div>
                <div class="carousel__cell" data="6"><img src="/static/img/mayana_slot_img6.png"
                  /></div>
                <div class="carousel__cell" data="7"><img src="/static/img/mayana_slot_img7.png"
                  /></div>
                <div class="carousel__cell" data="8"><img src="/static/img/mayana_slot_img8.png"
                  /></div>
                <div class="carousel__cell" data="9"><img src="/static/img/mayana_slot_img9.png"
                  /></div>
              </div>
            </div>
          </div>

          <div id="slot3" class="slot" data="3">
            <div class="scene">
              <div id="slots" class="carousel">
                <div class="carousel__cell" data="1"><img src="/static/img/mayana_slot_img1.png"
                  /></div>
                <div class="carousel__cell" data="2"><img src="/static/img/mayana_slot_img2.png"
                  /></div>
                <div class="carousel__cell" data="3"><img src="/static/img/mayana_slot_img3.png"
                  /></div>
                <div class="carousel__cell" data="4"><img src="/static/img/mayana_slot_img4.png"
                  /></div>
                <div class="carousel__cell" data="5"><img src="/static/img/mayana_slot_img5.png"
                  /></div>
                <div class="carousel__cell" data="6"><img src="/static/img/mayana_slot_img6.png"
                  /></div>
                <div class="carousel__cell" data="7"><img src="/static/img/mayana_slot_img7.png"
                  /></div>
                <div class="carousel__cell" data="8"><img src="/static/img/mayana_slot_img8.png"
                  /></div>
                <div class="carousel__cell" data="9"><img src="/static/img/mayana_slot_img9.png"
                  /></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="slot-buttons">
    <div class="button_slide slide_left" id="scroll">Roll</div>
    <div class="button_slide slide_left balance-amount">Balance: {{balance}}</div>
</div>
<script>
  var number;
var positions = {
  9: 320,
  8: 280,
  7: 240,
  6: 200,
  5: 160,
  4: 120,
  3: 80,
  2: 40,
  1: 0
};

function sendData( data ) {
  const XHR = new XMLHttpRequest();

  let urlEncodedData = "",
      urlEncodedDataPairs = [],
      name;

  // Turn the data object into an array of URL-encoded key/value pairs.
  for( name in data ) {
    urlEncodedDataPairs.push( encodeURIComponent( name ) + '=' + encodeURIComponent( data[name] ) );
  }

  // Combine the pairs into a single string and replace all %-encoded spaces to
  // the '+' character; matches the behaviour of browser form submissions.
  urlEncodedData = urlEncodedDataPairs.join( '&' ).replace( /%20/g, '+' );

  // Set up our request
  XHR.open( 'POST', '/mayana' );

  // Add the required HTTP header for form data POST requests
  XHR.setRequestHeader( 'Content-Type', 'application/x-www-form-urlencoded' );

  // Finally, send our data.
  XHR.send( urlEncodedData );
}

var timer = null;
$("#scroll").on("click", function() {
  if (timer || {{balance}} == 0) {
    return;
  }

  $(".carousel").toggleClass("is-animating");
  timer = setTimeout(function() {
    timer = null
    if ($(".carousel").hasClass("is-animating")) {
      var numbers = [];
      for (i = 1; i <= 3; i++) {
        number = Math.floor(Math.random() * 9) + 1; // 1 to 9
        numbers.push(number)
        let element = $(".slot[data=" + i + "] .carousel");
        $(element).animateRotate(positions[number], {
          duration: 1000,
          easing: "ease-out",
          complete: function() {},
          step: function() {}
        });
      }
      sendData( numbers );
      setTimeout(function() {window.location.reload()}, 1000);
    }
    $(".carousel").toggleClass("is-animating");
  }, 1500)
});

// Function to roll 3 at once
// Call rollNumbers([1,2,3]) after event fires in contract
function rollNumbers(numbers) {
  let element;
  let pos = 0;
  for (i = 1; i <= 3; i++) {
    element = $(".slot[data=" + i + "] .carousel");
    $(element).animateRotate(positions[numbers[pos]], {
      duration: 1000,
      easing: "ease-out"
    });
    pos++;
  }
}

// https://stackoverflow.com/a/15191130
$.fn.animateRotate = function(angle, duration, easing, complete) {
  return this.each(function() {
    var $elem = $(this);

    $({ deg: 0 }).animate(
      { deg: angle },
      {
        duration: duration,
        easing: easing,
        step: function(now) {
          $elem.css({
            transform: "rotateX(-" + now + "deg)"
          });
        },
        complete: complete || $.noop
      }
    );
  });
};

$(document).ready(function() {
  // Calculate translateZ
  var sceneHeight = $(".scene").height();
  var cellSize = sceneHeight;
  var numberOfCells = 9;
  var tz = Math.round(cellSize / 2 / Math.tan(Math.PI / numberOfCells));

  // Rotate and translate carousel cells
  var count = 0;
  for (i = 1; i <= 9; i++) {
    $(".carousel__cell:nth-child(" + i + ")").css({
      transform: "rotateX(" + count + "deg) translateZ(" + tz + "px)"
    });
    count += 40;
  }
});

</script>
{% endblock %}