{% extends "base.html" %}

{% block content %}
<div class="login_image">
    <img src="/static/img/logo.png">
</div>

<div class="form">
    <h4>Регистрация</h4>
    <form action="" method="post" novalidate>
        <div class="login-forms">
            <div class="label"><label for="username">Логин</label></div>
            <input id="username" name="username" required type="text" value="">
        </div>
        <div class="login-forms">
            <div class="label"><label for="password">Пароль</label></div>
            <input id="password" name="password" required type="password" value="">
        </div>
        {% if error == True %}
            <div class="error">
                Error! All inputs are required.
            </div>
        {% endif %}
        <div class="login-forms">
            <div class="label"><input id="sign" name="submit" type="submit" value="Регистрация"></div>
        </div>
        <a href="/">Войти</a>
    </form>
</div>
{% endblock %}
